html {
    font-size: 0.625vw;
}

body {
    font-family: "Montserrat";
}

/*CSS Header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem 12rem;
}

nav {
    display: flex;
    gap: 4rem;
    font-weight: 500;
    font-size: 1.8rem;
}

button {
    background-color: #10DFC2;
    top: 1.9rem;
    left: 103.3rem;
    width: 21.3rem;
    height: 4.2rem;
    border-radius: 1.5rem;
    border-color: #10DFC2;
    color: #FBFBFB;
    font-family: "Montserrat";
    font-weight: bolder;
    transition: 0.5s all;
    cursor: pointer;
    border: none;
    font-size: 1.8rem
}

button:hover {
    background-color: white;
    color:#10DFC2;
    border: solid 0.1rem#10DFC2;
}

/*CSS Section1*/
.section1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: url(Imagens/Background.png);
    height: 503px;
    background-size: 1366px;
}

.container-Left-Section1 {
    width: 50%;
}

.logoBranco {
    width: 66px;
    padding-top: 100px;
    padding-left: 225px;
}

.carreiraText {
    color: white;
    padding-top: 24px;
    padding-left: 225px;
    font: normal normal bold 40px/52px Montserrat;  
    margin: 0rem;  
}

.tripulaçãoText {
    color: white;
    padding-top: 24px;
    padding-left: 225px;
    font: normal normal normal 18px/31px Montserrat;
}

.container-Right-Section1 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.logoRocket {
    margin-top: 100px;
    margin-left: 260px;
    width: 138.5px;
}

.logoTalents {
    margin-top: 69px;
    margin-left: 148px;
    width: 332px;
}

/*CSS Section2*/
.section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 145px;
}

.container-Left-Section2 {
    margin-left: 250px;
    margin-top: 101px;
    margin-bottom: 101px;
}

.programaText {
    font: normal normal bold 32px/41px Montserrat;
    color: #032624;
}

.soluçãoText {
    font: normal normal normal 16px/23px Montserrat;
    color: #032624;
    padding-top: 24px;
}

.soluçãoText span {
    font: normal normal bold 16px/23px Montserrat;
    color: #032624;
}

.futuroText {
    font: normal normal 600 16px/23px Montserrat;color: #0EAFAC;
    padding-top: 16px;
}

.container-Right-Section2 {
    margin-right: 250px;
}



/*Section 3*/
.section3 {
    background: #F6F6F6 0% 0% no-repeat;
}

.flexbox-Top-Section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.funcionaText {
    padding-top: 50px;
    font: normal normal bold 32px/41px Montserrat;
    color: #0EAFAC;
}

.especialistaText {
    padding-top: 16px;
    font: normal normal normal 16px/23px Montserrat;
    color: #032624;
    text-align: center;
}

.especialistaText span {
    font: normal normal bold 16px/23px Montserrat;
}

.flexbox-Bot-Section3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 29px;
    padding: 50px 115px;
}

.card {   
    width: 262px;
    height: 250px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 5px;
}

.card1 {
    padding: 20px 41px 79px 20px;
}

.card2 {
    padding: 20px 38px 79px 20px;
}

.card3 {
    padding: 20px 14px 33px 20px;
}

.card-h{
    padding-top: 24px;
    font: normal normal 600 16px/23px Montserrat;
    color: #032624;
}

.card-p {
    padding-top: 16px;
    font: normal normal normal 16px/23px Montserrat;
    color: #032624;
}

.card4 {
    padding: 27px 24px 29px 20px;
}

.card4-h {
    padding-top: 24px;
    font: normal normal 600 16px/23px Montserrat;
    color: #032624;
}

.card4-p {
    padding-top: 20px;
    font: normal normal normal 16px/23px Montserrat;
    color: #032624;
}

.section4 {
    display: flex;
    flex-direction: row;
}

.container-Left-Section4 {
    width: 40%;
}

.container-Right-Section4 {
    width: 60%;
    margin-top: 99px;
    margin-left: 142px;
    margin-bottom: 163px;
}

.foto2 {
    margin-left: 250px;
    margin-top: 50px;
}

.section4 h1 {
    font: normal normal bold 32px/41px Montserrat;
    color: #0EAFAC;
}

.section4 h2 {
    padding-top: 24px;
    font: normal normal 600 16px/23px Montserrat;
    color: #032624;
}

.ul-Section4 {
    padding-top: 16px;
    font: normal normal normal 16px/23px Montserrat;
    color: #032624;
}

@media (max-width: 1250px) {
    html, body {
        width:100%;
        overflow-x:hidden;
    }
    
    .section2 {
        flex-wrap: wrap;
        gap: 0px
    }
    .section2 div {
        flex: 0 0 100%;
        text-align: center; 
    }
    .container-Left-Section2 {
        margin-left: 0px;
    }
    .container-Right-Section2 {
        margin-bottom: 50px;
    }

    .section4 {
        flex-wrap: wrap;
    }
    .section4 div {
        flex: 0 0 100%;
        text-align: center;
        margin-left: 0px;
    }
    .foto2 {
        margin-left: 0px;
    }

    .flexbox-Bot-Section3 {
        flex-wrap: wrap;
        flex: 0 0 100%;
        text-align: center; 
    }    
    
    
    
    
    
}