body {
    font-family: "Montserrat";
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 120px;
    flex-wrap: wrap;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    font-weight: 900;
}

button {
    background-color: #10DFC2;
    top: 19px;
    left: 1033px;
    width: 213px;
    height: 42px;
    border-radius: 15px;
    border-color: #10DFC2;
    color: #FBFBFB;
    font-family: "Montserrat";
    font-weight: bolder;
    transition: 0.5s all;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: white;
    color:#10DFC2;
    border: solid 2.5px#10DFC2;
}

.section-1 {
    display: flex;
    background: url(imagens/Background.png);
    width: 1366px;
    height: 500px;
    background-size: cover;
    flex: auto;
}

.divLeft {
    width: 683px;
}

.logoBranco {
    padding: 100px 225px 24px;
    width: 66px;
    height: 19px;
}

.hIntro {
    display: flex;
    padding: 0px 225px;
    color: white;
    width: 419px;
    height: 153px;
    font: normal normal bold 40px/52px Montserrat;
}

.pIntro {
    padding: 24px 296px 99px    225px ;
    color: white;
    width: 288px;
    height: 84px;
    font: normal normal normal 18px/31px Montserrat;
}

.divRight {
    width: 683px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logoRocket {
    padding: 100px 321.75px 69.66px 261.75px;
    width: 138px;
    height: 157px;
}

.logoTalent {
    padding: 0px 225px 100px 180px;
    width: 332px;
    height: 76px;
}


