html {
    font-size: 0.625vw;
}

body {
    font-family: "Montserrat";
}

/*CSS Header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem 12rem;
}

nav {
    display: flex;
    gap: 4rem;
    font-weight: 500;
    font-size: 1.8rem;
}

button {
    background-color: #10DFC2;
    top: 1.9rem;
    left: 103.3rem;
    width: 21.3rem;
    height: 4.2rem;
    border-radius: 1.5rem;
    border-color: #10DFC2;
    color: #FBFBFB;
    font-family: "Montserrat";
    font-weight: bolder;
    transition: 0.5s all;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: white;
    color:#10DFC2;
    border: solid 0.1rem#10DFC2;
}

/*CSS Section1*/
.flexboxSection1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: url(Imagens/Background.png);
    height: 50.3rem;
}

.container-Left-Section1 {
    width: 50%;
}

.logoBranco {
    padding-top: 10rem ;
    padding-left: 25.5rem;
}

.carreiraText {
    color: white;
    padding-top: 2.4rem;
    padding-left: 25.5rem;
    font: normal normal bold 4rem/5.2rem Montserrat;  
    margin: 0rem;  
}

.tripulaçãoText {
    color: white;
    padding-top: 2.4rem;
    padding-left: 25.5rem;
    font: normal normal normal 1.8rem/3.1rem Montserrat;
}

.container-Right-Section1 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.logoRocket {
    padding-top: 10rem;
    padding-left: 26rem;
    width: 13.85rem;
}

.logoTalents {
    padding-top: 6.9rem;
    padding-left: 14.8rem;
    width: 33.2rem;
}

/*CSS Section2*/


